<div style="margin-top: 70px">
  <div class="row">
    <div class="pl-5 col-sm-3 mr-5">
      <app-filter
        (searchBar)="onsearch($event)"
        (filterEvent)="this.clickedCategorie = $event"
      ></app-filter>
    </div>
    <div class="col-md-8 col-sm-7">
      <div class="row">
        <app-shirt
          *ngFor="let item of pageSlice"
          [shirt]="item"
          [categorie]="
            clickedCategorie === 'all' ? item.categorie : clickedCategorie
          "
          (buyClicked)="buyClicked($event)"
        ></app-shirt>

        <h1 *ngIf="shirtBool">{{ clickedShirt.nom }}</h1>
        <mat-paginator
          style="width: 100%"
          [length]="shirtsLength"
          [pageSize]="8"
          [pageSizeOptions]="[4, 8, 12]"
          (page)="OnPageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
